[Desktop Entry]
Version=1.0
Type=Link
Name=MariaDB Documentation
Comment=
Icon=/home/zli/Pictures/icons/mariadb.svg
URL=https://mariadb.com/kb/en/documentation/
